@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.input-search {
    margin-left: 120px;
    margin-right: 130px;
}

.p-YourTR {
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20px;
}

.garis-hr {
    margin-left: 122px;
    width: 81%;
}