.container-join-partner {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px;
}

.row {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.btn-submit {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box2 {
    margin-bottom: 30px;
}

.card-pop-up {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}