@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100;300&display=swap');

.body{
    background-color: #667EEA;
}

.card-daftar {
    width: 500px !important;
    height: 550px !important;
    margin: 0 auto !important;
    float: none;
    width: 30rem;
    background-color: #FFFFFF;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    box-shadow: 5px 5px #667EEA;
}

.title-daftar{
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: 30px !important;
    color: #667EEA;
    text-align: center;
}

.mb-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.to-login{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    pointer-events: all;
    cursor: pointer;
}
