@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100;300&display=swap');


.card-login{
    margin: 0 auto;
    margin-top: 10vw;
    float: none;
    width: 30rem;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #667EEA;
    font-size: 40px;
    
}

.login-subtitle{
    text-align: center;
}

.forget-pass{
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}