.container-detailPartner{
    margin-top: 30px;
    margin-left: 122px;
    margin-right: 130px;
    margin-bottom: 50px;
    border: 1px solid;
    border-color: #ebebeb;
    background-color: #ebebeb;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.dataTbl-Partner{
    margin-top: 30px;
}