
.container-balance{
    margin-top: 30px !important;
    margin-left: 122px !important;
}

.table-partner{
    margin-left: 3rem ;
    margin-right: 3rem ;
    margin-top: 3rem ;
    padding-right: 500px ;
    text-align: center;
}

.justify-content-center {
    text-align: center;
}

#container-adminPartner{
    margin-top: 30px;
    margin-left: 122px;
    margin-right: 130px;
    margin-bottom: 50px;
    border: 1px solid;
    border-color: #ebebeb;
    background-color: #ebebeb;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.table-approvePartner{
    background-color: white;
}

#btn-back-partner{
    margin-top: 20px;
}